.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    background-color: #fff;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 0.25rem 1.5rem;
    color: #3a3b45;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #eaecf4;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #d3d3d3 !important; /* Light gray background */
    color: #017e3e !important; /* Green text */
}

.dropdown .dropdown-menu {
    font-size: 0.85rem;
}

.dropdown .dropdown-menu .dropdown-header {
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.topbar .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
}

.topbar .nav-item.dropdown.show .dropdown-toggle::after {
    content: "\f107";
}

.topbar .nav-item .nav-link {
    position: relative;
}

.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    right: 0.25rem;
    margin-top: -0.25rem;
}

.topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 2rem;
}

#profile-container {
    width: 40px; /* Or 40px for header */
    height: 40px; /* Or 40px for header */
    background-color: #dedede;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#default-header-icon {
    font-size: 30px; /* Reduced for smaller container */
    transform: translateY(5px); /* Adjust downward if needed */
}
