#internsInfo {
    max-height: 410px;
    padding-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.position-relative {
    position: relative; /* Make the container position relative */
}

.search-icon {
    position: absolute; /* Position the icon absolutely */
    right: 10px; /* Adjust as needed to position it within the input */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Adjust for perfect centering */
    color: gray; /* Optional: Change the color of the icon */
    pointer-events: none; /* Prevent clicks on the icon */
}

#searchInterns {
    padding-right: 2.5rem; /* Space for the icon */
    padding-left: 0.5rem; /* Adjust this value to reduce space on the left */
}

#progressBar, 
#downloadProgressBar {
    background-color: #489f48;
    /* background-color: #0d6dfd67; */
}